extends layout

block content
  #draggable-blocks
    .draggable.ui-widget-content.code-block
      h3.code-block-title Drag me around #1
      .droppable
    .draggable.ui-widget-content.code-block
      h3.code-block-title Drag me around #2
      .droppable
    .draggable.ui-widget-content.code-block
      h3.code-block-title Drag me around #3
      .droppable
  #droppable-space
    h2 Your Code

