extends layout

block content
  #draggable-blocks
    #for-block.draggable.ui-widget-content.code-block
      h3.code-block-title For block
      .droppable
    #if-block.draggable.ui-widget-content.code-block
      h3.code-block-title If block
      .droppable
    #function-block.draggable.ui-widget-content.code-block
      h3.code-block-title Function block
      .droppable
  #droppable-space
    h2 Your Code

